footer.footer.b-lazy.webp-img(data-webp="./img/ten.webp"
data-img="./img/ten.png"
data-webp-mobile='./img/footer-mob.webp'
data-img-mobile='./img/footer-mob.png')
  .footer__inner.site-container
    .footer__top
      .footer__left
        .footer__title Полезные ссылки
        .footer__row
          .footer__col
            a(href="#").footer__link Алкоголизм
            a(href="#").footer__link Наркомания
            a(href="#").footer__link Реабилитация
            a(href="#").footer__link Филиалы
            a(href="#").footer__link Цены
            a(href="#").footer__link Родителям
          .footer__col
            a(href="#").footer__link О нас
            a(href="#").footer__link Политика конфиденциальности
            a(href="#").footer__link Отках от ответственности
            a(href="#").footer__link Согласие с рассылкой
            a(href="#").footer__link Карта сайта

      .footer__right
        .footer__title Контакты
        .footer__col
          .footer__city  г. Санкт-Петербург, ул. Захарьевская, 29
          .footer__phone
            a(href="tel:88129944682") 8 (812) 99-44-682
            a(href="tel:88005051335") 8 (800) 505-13-35
          a(href="#").site-btn Обратный звонок

    .footer__bottom
      .footer__left
        .footer__title Соцсети
        .footer__row
          .footer__col
            a(href="#").fb
              include ../../img/fb.svg
            a(href="#").in
              include ../../img/in.svg
            a(href="#").vk
              include ../../img/vk.svg
            a(href="#").you
              include ../../img/you.svg
            a(href="#").ok
              include ../../img/ok.svg



      .footer__right
        .footer__title Способы оплаты
        .footer__col
          a(href="#").visa
            picture
              source(srcset="./img/visa.webp" type="image/webp")
              source(srcset="./img/visa.png" type="image/png")
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
          a(href="#").mcard
            picture
              source(srcset="./img/mcard.webp" type="image/webp")
              source(srcset="./img/mcard.png" type="image/png")
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

    .copyright Медицинский наркологический центр СтопНарко © 2020




.popup.callback
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.callback__content.site-container
        .callback__img.b-lazy.webp-img(data-webp="./img/popup-img.webp"
          data-webp-mobile=""
          data-img="./img/popup-img.jpg"
          data-img-mobile="")

        .callback__form
          .wawe-block__title.site-title2 ОСТаВЬТЕ ЗАЯВКУ
          .wawe-block__subtitle И ПОЛУЧИТЕ ПЕРВИЧНУЮ КОНСУЛЬТАЦИЮ БЕСПЛАТНО
          .wawe-block__form
            form
              input(type="text" placeholder="Ваше имя")
              input(type="text" placeholder="Ваш телефон").phone
              a(href="#").site-btn2
                span Отправить
            .wawe-block__caption *Ваши даные останутся конфиденциальными

.popup.callback2
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.callback__content.site-container
        .callback__img.b-lazy.webp-img(data-webp="./img/popup-img.webp"
          data-webp-mobile=""
          data-img="./img/popup-img.jpg"
          data-img-mobile="")

        .callback__form
          .wawe-block__title.site-title2 ОСТаВЬТЕ свой телефон
          .wawe-block__subtitle И МЫ ПЕРЕЗВОНИМ ВАМ В БЛИЖАЙШЕЕ ВРЕМЯ
          .wawe-block__form
            form
              input(type="text" placeholder="Ваш телефон").phone
              a(href="#").site-btn2
                span Отправить
            .wawe-block__caption *Ваши даные останутся конфиденциальными
