extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/about-romb-2.webp"
  //data-img="./img/about-romb-2.png"
  //data-webp-mobile='./img/about-romb-mob.webp'
  //data-img-mobile='./img/about-romb-mob.png')

  //picture
  //    source(srcset="./img/logo.webp" type="image/webp")
  //    source(srcset="./img/logo.jpg" type="image/png")
  //    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap
    .service-top.home-top.b-lazy.webp-img(data-webp="./img/home-top-bg.webp"
    data-img="./img/home-top-bg.png"
    data-webp-mobile='./img/home-top-bg.webp'
    data-img-mobile='./img/home-top-bg.png')
      .service-top__inner.site-container
        .service-top__title Лечение алкоголизма, <br> наркомании и психических <br> расстройств
        .service-top__list
          ul
            li Срочный вывод из запоя на дому
            li Кодирование от алкоголизма
            li Кодирование от наркомании
            li Лечение депрессии и психозов
        a(href="#").service-top__btn.site-btn2 Оставить заявку

    .our-services
      .our-services__inner.site-container
        .our-services__title.site-title2  НАШИ УСЛУГИ
        .our-services__content
          .our-services__item
            .our-services__item-content
              .our-services__img
                picture
                  source(srcset="./img/our-services-img01.webp" type="image/webp")
                  img(src="./img/our-services-img01.png" alt="img")
              .our-services__name Лечение алкоголизма <br> в стацонаре
              .our-services__price От 3500 руб / сутки
          .our-services__item
            .our-services__item-content
              .our-services__img
                picture
                  source(srcset="./img/our-services-img02.webp" type="image/webp")
                  img(src="./img/our-services-img02.png" alt="img")
              .our-services__name Вывод из запоя <br> на дому
              .our-services__price От 3500 руб / выезд
          .our-services__item
            .our-services__item-content
              .our-services__img
                picture
                  source(srcset="./img/our-services-img03.webp" type="image/webp")
                  img(src="./img/our-services-img03.png" alt="img")
              .our-services__name Реабилитация <br> алкоголиков
              .our-services__price От 40 000 руб / месяц
          .our-services__item
            .our-services__item-content
              .our-services__img
                picture
                  source(srcset="./img/our-services-img04.webp" type="image/webp")
                  img(src="./img/our-services-img04.png" alt="img")
              .our-services__name Лечение женского <br> алкоголизма
              .our-services__price От 40 000 руб / месяц
          .our-services__item
            .our-services__item-content
              .our-services__img
                picture
                  source(srcset="./img/our-services-img05.webp" type="image/webp")
                  img(src="./img/our-services-img05.png" alt="img")
              .our-services__name Лечение наркомании <br> в стацонаре
              .our-services__price От 4000 руб / сутки
          .our-services__item
            .our-services__item-content
              .our-services__img
                picture
                  source(srcset="./img/our-services-img06.webp" type="image/webp")
                  img(src="./img/our-services-img06.png" alt="img")
              .our-services__name Кодирование <br> от алкоголизма
              .our-services__price От 3000 руб
          .our-services__item
            .our-services__item-content
              .our-services__img
                picture
                  source(srcset="./img/our-services-img07.webp" type="image/webp")
                  img(src="./img/our-services-img07.png" alt="img")
              .our-services__name Вшивание <br> от наркомании
              .our-services__price От 10 000 руб
          .our-services__item
            .our-services__item-content
              .our-services__img
                picture
                  source(srcset="./img/our-services-img08.webp" type="image/webp")
                  img(src="./img/our-services-img08.png" alt="img")
              .our-services__name Детоксикация  <br> в стационаре
              .our-services__price От 3500 руб

    .advantages
      .advantages__inner
        .advantages__title.site-title2
        .advantages__content
          .advantages__img
            picture
              source(srcset="./img/advantages-img.webp" type="image/webp")
              img(src="./img/advantages-img" alt="img")
          .advantages__list
            .advantages__item Круглосуточное <br> дежурство врачей
            .advantages__item Медицинская <br> лицензия
            .advantages__item Опытный и <br> квалифицированный <br> персонал
            .advantages__item Удобное <br> месторасположение
            .advantages__item Гибкая ценовая <br> политика
            .advantages__item Широкий выбор <br> способов и методов <br> лечения

    .wawe-block.b-lazy.webp-img(data-webp="./img/five.webp"
    data-img="./img/five.png"
    data-webp-mobile='./img/five.webp'
    data-img-mobile='./img/five.png')
      .wawe-block__inner.site-container
        .wawe-block__title.site-title2 ОСТаВЬТЕ ЗАЯВКУ
        .wawe-block__subtitle И ПОЛУЧИТЕ ПЕРВИЧНУЮ КОНСУЛЬТАЦИЮ БЕСПЛАТНО
        .wawe-block__form
          form
            input(type="text" placeholder="Ваше имя")
            input(type="text" placeholder="Ваш телефон")
            a(href="#").site-btn3 Отправить
          .wawe-block__caption *Ваши даные останутся конфиденциальными

    .doctors
      .doctors__inner.site-container
        .doctors__title.site-title2  НАШИ ВРАЧИ
        .doctors__content
          .doctors__item
            .doctors__item-content
              .doctors__img
                picture
                  source(srcset="./img/d1.webp" type="image/webp")
                  img(src="./img/d1.png" alt="img")
              .doctors__name Степнов Виталий
                span главный врач
              .doctors__exp Опыт - 22 года
              .doctors__btn
                a(href="#").doctors__btn-i.site-btn Записаться
          .doctors__item
            .doctors__item-content
              .doctors__img
                picture
                  source(srcset="./img/d2.webp" type="image/webp")
                  img(src="./img/d2.png" alt="img")
              .doctors__name Миронова Галина
                span психиатр-нарколог
              .doctors__exp Опыт - 15 года
              .doctors__btn
                a(href="#").doctors__btn-i.site-btn Записаться
          .doctors__item
            .doctors__item-content
              .doctors__img
                picture
                  source(srcset="./img/d3.webp" type="image/webp")
                  img(src="./img/d3.png" alt="img")
              .doctors__name Баринов Виктор
                span психолог
              .doctors__exp Опыт - 14 года
              .doctors__btn
                a(href="#").doctors__btn-i.site-btn Записаться
          .doctors__item
            .doctors__item-content
              .doctors__img
                picture
                  source(srcset="./img/d3.webp" type="image/webp")
                  img(src="./img/d3.png" alt="img")
              .doctors__name Ольга Крестова
                span психотерапевт
              .doctors__exp Опыт - 9 года
              .doctors__btn
                a(href="#").doctors__btn-i.site-btn Записаться

    .text-block
      .text-block__inner.site-container
        .text-block__img
          picture
            source(srcset="./img/sec.webp" type="image/webp")
            source(srcset="./img/sec.png" type="image/png")
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

        h2 Наркологическая клиника в Санкт- <br> -Петербурге и Ленинградской <br> области “СтопНарко”

        p Анонимный центр наркологической помощи «СтопНарко» в Санкт-Петербурге — это учреждение высокого европейского уровня, которое обладает высокими профессиональными навыками в области наркологии. Для своих пациентов мы готовы предложить грамотный и индивидуальный курс в лечении алкоголизма и наркомании, а также иных видов пагубных пристрастий. Все наши квалифицированные специалисты имеют надлежащие сертификаты, разрешения и лицензии на выполнение услуг и оказания наркологической помощи зависимым на любой стадии.
        p Благодаря нашему многолетнему стажу и опыту работы, наркологический центр может гарантировать своим постояльцам полноценное выздоровление и избавление от зависимости на физическом и психологическом уровне.
          br
          | Мы работаем без перерывов, выходных и праздников 24 часа в сутки 7 дней в неделю.
        p Осуществите правильное решение, обратитесь к нам прямо сейчас!.
        p Анонимный центр наркологической помощи «СтопНарко» в Санкт-Петербурге — это учреждение высокого европейского уровня, которое обладает высокими навыками
          | в области наркологии. Для своих пациентов мы готовы предложить грамотный и индивидуальный курс в лечении алкоголизма и наркомании, а также иных видов пагубных пристрастий. Все наши квалифицированные специалисты имеют надлежащие сертификаты, разрешения и лицензии на выполнение услуг и оказания наркологической помощи зависимым на любой стадии.
        p Благодаря нашему многолетнему стажу и опыту работы, наркологический центр может гарантировать своим постояльцам полноценное выздоровление и избавление от зависимости на физическом и психологическом уровне.
          br
          | Мы работаем без перерывов, выходных и праздников 24 часа в сутки 7 дней в неделю.
        p Осуществите правильное решение, обратитесь к нам прямо сейчас!.



