extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/about-romb-2.webp"
  //data-img="./img/about-romb-2.png"
  //data-webp-mobile='./img/about-romb-mob.webp'
  //data-img-mobile='./img/about-romb-mob.png')

  //picture
  //    source(srcset="./img/logo.webp" type="image/webp")
  //    source(srcset="./img/logo.jpg" type="image/png")
  //    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap
    .service-top.home-top.b-lazy.webp-img(data-webp="./img/home-top-bg.webp"
    data-img="./img/home-top-bg.png"
    data-webp-mobile='./img/home-top-mobile.webp'
    data-img-mobile='./img/home-top-mobile.png')
      .service-top__inner.site-container
        .service-top__title Лечение алкоголизма, <br> наркомании и психических <br> расстройств
        .service-top__list
          ul
            li Срочный вывод из запоя на дому
            li Кодирование от алкоголизма
            li Кодирование от наркомании
            li Лечение депрессии и психозов
        a(href="#").service-top__btn.site-btn2 Оставить заявку

    .bg-block-3.b-lazy.webp-img(data-webp="./img/bg-our-services.webp"
    data-img="./img/bg-our-services.png"
    data-webp-mobile='./img/bg-our-services.webp'
    data-img-mobile='./img/bg-our-services.png')

      .our-services
        .our-services__inner.site-container
          .our-services__title.site-title2  НАШИ УСЛУГИ
          .our-services__content.our-services-slider-js
            .our-services__item
              .our-services__item-content
                .our-services__img
                  picture
                    source(srcset="./img/our-services-img01.webp" type="image/webp")
                    img(src="./img/our-services-img01.png" alt="img")
                .our-services__name Лечение алкоголизма <br> в стацонаре
                .our-services__price От 3500 руб / сутки
            .our-services__item
              .our-services__item-content
                .our-services__img
                  picture
                    source(srcset="./img/our-services-img02.webp" type="image/webp")
                    img(src="./img/our-services-img02.png" alt="img")
                .our-services__name Вывод из запоя <br> на дому
                .our-services__price От 3500 руб / выезд
            .our-services__item
              .our-services__item-content
                .our-services__img
                  picture
                    source(srcset="./img/our-services-img03.webp" type="image/webp")
                    img(src="./img/our-services-img03.png" alt="img")
                .our-services__name Реабилитация <br> алкоголиков
                .our-services__price От 40 000 руб / месяц
            .our-services__item
              .our-services__item-content
                .our-services__img
                  picture
                    source(srcset="./img/our-services-img04.webp" type="image/webp")
                    img(src="./img/our-services-img04.png" alt="img")
                .our-services__name Лечение женского <br> алкоголизма
                .our-services__price От 40 000 руб / месяц
            .our-services__item
              .our-services__item-content
                .our-services__img
                  picture
                    source(srcset="./img/our-services-img05.webp" type="image/webp")
                    img(src="./img/our-services-img05.png" alt="img")
                .our-services__name Лечение наркомании <br> в стацонаре
                .our-services__price От 4000 руб / сутки
            .our-services__item
              .our-services__item-content
                .our-services__img
                  picture
                    source(srcset="./img/our-services-img06.webp" type="image/webp")
                    img(src="./img/our-services-img06.png" alt="img")
                .our-services__name Кодирование <br> от алкоголизма
                .our-services__price От 3000 руб
            .our-services__item
              .our-services__item-content
                .our-services__img
                  picture
                    source(srcset="./img/our-services-img07.webp" type="image/webp")
                    img(src="./img/our-services-img07.png" alt="img")
                .our-services__name Вшивание <br> от наркомании
                .our-services__price От 10 000 руб
            .our-services__item
              .our-services__item-content
                .our-services__img
                  picture
                    source(srcset="./img/our-services-img08.webp" type="image/webp")
                    img(src="./img/our-services-img08.png" alt="img")
                .our-services__name Детоксикация  <br> в стационаре
                .our-services__price От 3500 руб

    .advantages
      .advantages__inner.site-container
        .advantages__title.site-title2 ПРЕИМУЩЕСТВА
        .advantages__content
          .advantages__list
            .advantages__item.advantages__item--1
              img(src="./img/001-check.svg" alt="ico").tablet
              | Широкий выбор <br> способов и методов <br> лечения
            .advantages__item.advantages__item--2
              img(src="./img/001-check.svg" alt="ico").tablet
              | Гибкая ценовая <br> политика
            .advantages__item.advantages__item--3
              img(src="./img/001-check.svg" alt="ico").tablet
              | Удобное <br> месторасположение
            .advantages__img
              picture
                source(srcset="./img/advantages-img.webp" type="image/webp")
                img(src="./img/advantages-img" alt="img")
            .advantages__item.advantages__item--4
              img(src="./img/001-check.svg" alt="ico").tablet
              | Круглосуточное <br> дежурство врачей
            .advantages__item.advantages__item--5
              img(src="./img/001-check.svg" alt="ico").tablet
              | Медицинская <br> лицензия
            .advantages__item.advantages__item--6
              img(src="./img/001-check.svg" alt="ico").tablet
              | Опытный и <br> квалифицированный <br> персонал

    .wawe-block.b-lazy.webp-img(data-webp="./img/five.webp"
    data-img="./img/five.png"
    data-webp-mobile='./img/five.webp'
    data-img-mobile='./img/five.png')
      .wawe-block__inner.site-container
        .wawe-block__title.site-title2 ОСТаВЬТЕ ЗАЯВКУ
        .wawe-block__subtitle И ПОЛУЧИТЕ ПЕРВИЧНУЮ КОНСУЛЬТАЦИЮ БЕСПЛАТНО
        .wawe-block__form
          form
            input(type="text" placeholder="Ваше имя")
            input(type="text" placeholder="Ваш телефон").phone
            a(href="#").site-btn3
              span Отправить
          .wawe-block__caption *Ваши даные останутся конфиденциальными

    .bg-block-3.b-lazy.webp-img(data-webp="./img/bg-our-services.webp"
    data-img="./img/bg-our-services.png"
    data-webp-mobile='./img/bg-our-services.webp'
    data-img-mobile='./img/bg-our-services.png')

      .doctors
        .doctors__inner.site-container
          .doctors__title.site-title2  НАШИ ВРАЧИ
          .doctors__content.doctors-slider-js
            .doctors__item
              .doctors__item-content
                .doctors__img
                  picture
                    source(srcset="./img/d1.webp" type="image/webp")
                    img(src="./img/d1.png" alt="img")
                .doctors__name Степнов Виталий
                  span главный врач
                .doctors__exp Опыт - 22 года
                .doctors__btn
                  a(href="#").doctors__btn-i.site-btn Записаться
            .doctors__item
              .doctors__item-content
                .doctors__img
                  picture
                    source(srcset="./img/d2.webp" type="image/webp")
                    img(src="./img/d2.png" alt="img")
                .doctors__name Миронова Галина
                  span психиатр-нарколог
                .doctors__exp Опыт - 15 года
                .doctors__btn
                  a(href="#").doctors__btn-i.site-btn Записаться
            .doctors__item
              .doctors__item-content
                .doctors__img
                  picture
                    source(srcset="./img/d3.webp" type="image/webp")
                    img(src="./img/d3.png" alt="img")
                .doctors__name Баринов Виктор
                  span психолог
                .doctors__exp Опыт - 14 года
                .doctors__btn
                  a(href="#").doctors__btn-i.site-btn Записаться
            .doctors__item
              .doctors__item-content
                .doctors__img
                  picture
                    source(srcset="./img/d4.webp" type="image/webp")
                    img(src="./img/d4.png" alt="img")
                .doctors__name Ольга Крестова
                  span психотерапевт
                .doctors__exp Опыт - 9 года
                .doctors__btn
                  a(href="#").doctors__btn-i.site-btn Записаться

    .text-block
      .text-block__inner.site-container
        .text-block__img
          picture
            source(srcset="./img/sec.webp" type="image/webp")
            source(srcset="./img/sec.png" type="image/png")
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

        h2 Наркологическая клиника в Санкт- <br> -Петербурге и Ленинградской <br> области “СтопНарко”

        p Анонимный центр наркологической помощи «СтопНарко» в Санкт-Петербурге — это учреждение высокого европейского уровня, которое обладает высокими профессиональными навыками в области наркологии. Для своих пациентов мы готовы предложить грамотный и индивидуальный курс в лечении алкоголизма и наркомании, а также иных видов пагубных пристрастий. Все наши квалифицированные специалисты имеют надлежащие сертификаты, разрешения и лицензии на выполнение услуг и оказания наркологической помощи зависимым на любой стадии.
        p Благодаря нашему многолетнему стажу и опыту работы, наркологический центр может гарантировать своим постояльцам полноценное выздоровление и избавление от зависимости на физическом и психологическом уровне.
          br
          | Мы работаем без перерывов, выходных и праздников 24 часа в сутки 7 дней в неделю.
        p Осуществите правильное решение, обратитесь к нам прямо сейчас!.
        p Анонимный центр наркологической помощи «СтопНарко» в Санкт-Петербурге — это учреждение высокого европейского уровня, которое обладает высокими навыками
          | в области наркологии. Для своих пациентов мы готовы предложить грамотный и индивидуальный курс в лечении алкоголизма и наркомании, а также иных видов пагубных пристрастий. Все наши квалифицированные специалисты имеют надлежащие сертификаты, разрешения и лицензии на выполнение услуг и оказания наркологической помощи зависимым на любой стадии.
        p Благодаря нашему многолетнему стажу и опыту работы, наркологический центр может гарантировать своим постояльцам полноценное выздоровление и избавление от зависимости на физическом и психологическом уровне.
          br
          | Мы работаем без перерывов, выходных и праздников 24 часа в сутки 7 дней в неделю.
        p Осуществите правильное решение, обратитесь к нам прямо сейчас!.


    .bg-block-2.b-lazy.webp-img(data-webp="./img/four.webp"
    data-img="./img/four.png"
    data-webp-mobile='./img/four.webp'
    data-img-mobile='./img/four.png')

      .programs.clinic-services
        .programs__inner.site-container
          .programs__title.site-title2 УСЛУГИ КЛИНИКИ
          .programs__items
            .programs__item
              .programs__i-title
                span О
                | чищение <br> организма
              .programs__price От 3500 руб
              .programs__txt.
                Чистка крови и организма от накопленных ядов
                и токсинов наркотиков или алкоголя происходит
                при помощи услуги детоксикации и проверенных лекарственных препаратов, которые вводятся внутривенным способом и воздействуют
                на нормализацию самочувствие больного
              a(href="#").programs__btn.site-btn Узнать подробнее
            .programs__item
              .programs__i-title
                span М
                | едикаментозное <br> лечение
              .programs__price От 3500 руб
              .programs__txt.
                Все услуги, основанные на подборе лекарственных препаратов соматического, седативного
                и витаминного характера, которые позволят восстановить истощенный организм больного
                и привести в норму работу внутренних
                органов пациента
              a(href="#").programs__btn.site-btn Узнать подробнее
            .programs__item
              .programs__i-title
                span К
                | одирование  <br> от алкоголизма
              .programs__price От 3500 руб
              .programs__txt.
                Услуга позволяет быстро и безболезненно избавить алкозависимого от патологической тяги к спиртному.
                При необходимости каждый человек может воспользоваться услугой «вызов нарколога» на дом
              a(href="#").programs__btn.site-btn Узнать подробнее
            .programs__item
              .programs__i-title
                span Р
                | еабилитация, <br> социальная адаптация
              .programs__price От 3500 руб
              .programs__txt.
                Программа психотерапией позволит человеку вернуться к социуму, а обучение профессиональных направлений разрешит человеку определиться с будущей профессией и хобби
              a(href="#").programs__btn.site-btn Узнать подробнее

    .text-block.proccess
      .text-block__inner.site-container
        .text-block__img.text-block__img--right
          picture
            source(srcset="./img/six.webp" type="image/webp")
            source(srcset="./img/six.png" type="image/png")
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
        h2 Частный наркологический центр в Санкт-Петербурге
        p Клиника помощи зависимым «СтопНарко» готова предоставить свои услуги на высоком уровне и профессиональный подбор необходимых процедур. Все наши постояльцы могут пройти лечение, а также реабилитацию наркозависимых и алкоголиков в комфортабельном стационаре, посетить необходимый перечень мероприятий амбулаторным способом, не отрываясь от семьи личных дел и работы.
        p Стационарные условия нашего учреждения не оставят никого равнодушными, а также не предоставят постояльцем дискомфорта. В центре расположены уютные номера с современной мебелью и аппаратурой, комнаты для отдыха, занятия спортом и прохождения назначенных мероприятий. Согласно режиму, в учреждении больные смогут получать здоровое питание, а также проходить медицинский осмотр узких специалистов.
        p Добродушное отношение нашего персонала и взаимосвязь пациента с единомышленниками благоприятно сказывается на выздоровлении и скорейшей выписке из клиники.
        p Мы заботимся о каждом из вас. Поэтому не стоит медлить и доводить ситуацию до крайности. Звоните к нам уже сейчас и начните полноценное лечение вашей зависимости, которая разрушает жизнь и будущее.
        p Клиника помощи зависимым «СтопНарко» готова предоставить свои услуги на высоком уровне и профессиональный подбор необходимых процедур. Все наши постояльцы могут пройти лечение, а также реабилитацию наркозависимых и алкоголиков в комфортабельном стационаре, посетить необходимый перечень мероприятий амбулаторным способом, не отрываясь от семьи личных дел и работы.
        p Стационарные условия нашего учреждения не оставят никого равнодушными, а также не предоставят постояльцем дискомфорта. В центре расположены уютные номера с современной мебелью и аппаратурой, комнаты для отдыха, занятия спортом.

    .bg-block-2.b-lazy.webp-img(data-webp="./img/table-bg.webp"
    data-img="./img/table-bg.png"
    data-webp-mobile='./img/table-bg.webp'
    data-img-mobile='./img/table-bg.png')

      .service-price
        .service-price__inner.site-container
          .service-price__title.site-title2 ЦЕНЫ НА УСЛУГИ
          .service-price__tables
            .service-price__table
              .service-price__mobile-title Услуги по лечению зависимости
              .service-price__head
                .service-price__row
                  .service-price__col Услуги по лечению зависимости
                  .service-price__col Стоимость
              .service-price__body
                .service-price__row
                  .service-price__col Первичная консультация врача по телефону
                  .service-price__col БЕСПЛАТНО
                .service-price__row
                  .service-price__col Консультация врача нарколога
                  .service-price__col 2 000 руб.
                .service-price__row
                  .service-price__col Вызов нарколога на дом
                  .service-price__col 3 000 руб.
                .service-price__row
                  .service-price__col Мотивация пройти полный курс(метод интервенции)
                  .service-price__col от 5 000 руб.
                .service-price__row
                  .service-price__col Сопровождение в клинику/реабилитацию
                  .service-price__col от 10 000 руб.
                .service-price__row
                  .service-price__col Снятие наркотической ломки
                  .service-price__col 4 000 руб.
                .service-price__row
                  .service-price__col Вывод из запоя
                  .service-price__col от 3 500 руб.
                .service-price__row
                  .service-price__col Детоксикация организма
                  .service-price__col от 3 500 руб.
                .service-price__row
                  .service-price__col Ультрабыстрая-опиоидная детоксикация (УБОД)
                  .service-price__col от 18 000 руб.
                .service-price__row
                  .service-price__col Подшивание от наркотиков
                  .service-price__col от 10 000 руб.
                .service-price__row
                  .service-price__col Кодирование от алкоголизма
                  .service-price__col от 3 000 руб.
                .service-price__row
                  .service-price__col Амбулаторное лечение
                  .service-price__col 4 000 руб./сутки

            .service-price__table
              .service-price__mobile-title Услуги по реабилитации зависимых
              .service-price__head
                .service-price__row
                  .service-price__col Услуги по реабилитации зависимых
                  .service-price__col Стоимость
              .service-price__body
                .service-price__row
                  .service-price__col Стандарт
                  .service-price__col от 40 000 руб.
                .service-price__row
                  .service-price__col Высшей категории
                  .service-price__col от 60 000 руб.
                .service-price__row
                  .service-price__col VIP
                  .service-price__col 100 000 руб.
                .service-price__row
                  .service-price__col За границей (Тайланд, Испания, Израиль)
                  .service-price__col от 320 000 руб.
                .service-price__row
                  .service-price__col Постреабилитационная адаптация наркозависимого
                  .service-price__col 30 000 руб.

          .service-price__btn
            a(href="#").service-price__btn-i.site-btn2 Бесплатная консультация


    .text-block.text-block--aic
      .text-block__inner.site-container
        .text-block__img
          picture
            source(srcset="./img/down-block-img.webp" type="image/webp")
            source(srcset="./img/down-block-img.png" type="image/png")
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

        h2 Скорая наркологическая помощь <br> в центре «СтопНарко»

        p Частный наркологический центр в Санкт-Петербурге готов принять в свои апартаменты на лечение наркомании и других видов зависимости даже на запущенных стадиях. Наркологи нашего учреждения находят подход к тем, кто не осознает своих проблем и не желает принимать помощь со стороны специалистов.
        p Мы готовы осуществить свои мероприятия с выездом нарколога на дом и применением современного метода интервенции, которая формирует у человека мотивацию и подтолкнет к госпитализации в стационар. Звоните к нам круглосуточно. Ваш звонок и обращение останутся анонимными, а о проблемах не узнают посторонние.

    .wawe-block.b-lazy.webp-img(data-webp="./img/nine.webp"
    data-img="./img/nine.png"
    data-webp-mobile='./img/nine.webp'
    data-img-mobile='./img/nine.png')
      .wawe-block__inner.site-container
        .wawe-block__title.site-title2 ОСТаВЬТЕ ЗАЯВКУ
        .wawe-block__subtitle И ПОЛУЧИТЕ ПЕРВИЧНУЮ КОНСУЛЬТАЦИЮ БЕСПЛАТНО
        .wawe-block__form
          form
            input(type="text" placeholder="Ваше имя")
            input(type="text" placeholder="Ваш телефон").phone
            a(href="#").site-btn3
              span Отправить
          .wawe-block__caption *Ваши даные останутся конфиденциальными
